body {
    background: #5b1215;
    color: lightpink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-weight: 100;
    font-style: normal;

}

header {
    color: lightpink;
    font-size: larger;
    font-stretch: ultra-expanded;
}

img{
    padding-left: 30;
}

header:nth-child(2){
color: white;
}

img {
    max-width: 100%;
}

section {
    color: white;
}

li {
    color: lightpink;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
    height: 20em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: lightpink;
    background: black;
}

/* om comment and notes te maken ("cntr" en "/" ingedrukt houden */